<?xml version="1.0"?>
<config>
	<modules>
		<Hans2103_HideCompare>
			<version>1.0.2</version>
		</Hans2103_HideCompare>
	</modules>
	<global>
		<helpers>
			<catalog>
				<rewrite>
					<product_compare>Hans2103_HideCompare_Helper_Product_Compare</product_compare>
				</rewrite>
			</catalog>
		</helpers>
	</global>
	<frontend>
		<layout>
			<updates>
				<wfs_disablecompare>
					<file>hans2103/hidecompare.xml</file>
				</wfs_disablecompare>
			</updates>
		</layout>
	</frontend>
</config>
